<section id="hero"
  class="min-vh-100 d-flex flex-column justify-content-center align-items-center text-center"
  style="background-image: url('<%= asset_path('background.png') %>');
         background-size: cover;
         background-position: center;
         background-repeat: no-repeat;
         filter: none;">

  <div id="language-popup" class="popup">
    <div class="popup-content">
      <div class="flex justify-center space-x-6 mt-4">
        <!-- English Flag -->
        <a href="?language=en" class="flag-button">
          <div class="flag-content">
            <img
              src="https://flagcdn.com/w40/us.png"
              srcset="https://flagcdn.com/w80/us.png 2x"
              alt="United States"
              class="flag-image"
            />
            <span class="flag-text">English</span>
          </div>
        </a>

        <!-- Portuguese Flag -->
        <a href="?language=pt" class="flag-button">
          <div class="flag-content">
            <img
              src="https://flagcdn.com/w40/br.png"
              srcset="https://flagcdn.com/w80/br.png 2x"
              alt="Brazil"
              class="flag-image"
            />
            <span class="flag-text">Português</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

