@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animação de fade-in */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.8s ease-in-out;
}

.bg-hero-animation {
  background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 80%);
  animation: hero-animation 10s infinite alternate;
}

@keyframes hero-animation {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}
