/*
 *= require buttons
 *= require footer
 *= require menu
*/

/* Ensure the page takes up the full height */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Remove underline from all links */
a {
  text-decoration: none;
}

/* Add hover effect (optional) */
a:hover {
  text-decoration: none; /* Keeps underline removed even on hover */
}

.project-card p {
  text-align: left;
}
